body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: auto;
  min-width: 350px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logo" "nav" "tban";
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 40px 50px auto;
      grid-template-rows: 40px 50px auto;
}

@media (min-width: 768px) {
  .container {
    margin: auto;
    display: -ms-grid;
    display: grid;
    max-width: 1366px;
        grid-template-areas: "left logo nav  nav  nav  right" "tban tban tban tban tban tban";
    -ms-grid-columns: 25px auto auto auto auto 25px;
        grid-template-columns: 25px auto auto auto auto 25px;
    -ms-grid-rows: 60px auto;
        grid-template-rows: 60px auto;
  }
}

.left-area {
  grid-area: left;
}

.right-area {
  grid-area: right;
}

.logo-area {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.logo-area .logo {
  min-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.nav-area {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-auto-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
  grid-auto-rows: auto;
  background-color: wite;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .nav-area {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.nav-area .nav-item {
  font-size: 12px;
  color: #2A2929;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .nav-area .nav-item {
    font-size: 16px;
  }
}

.nav-area .nav-item:hover {
  color: #035B96;
  border-top: 1px solid #035B96;
}

.nav-area .nav-item:active {
  color: #035B96;
  border-top: 3px solid #035B96;
}

.top-banner-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tban;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.top-banner-area .banner-image-div {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.top-banner-area .banner-overlay-div {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.top-banner-area .banner-text-div {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.banner-image {
  min-width: 350px;
  height: auto;
  display: block;
}

.banner-overlay-div {
  max-width: 100%;
}

.banner-text-div {
  margin-left: 25px;
  max-width: 100%;
}

.banner-head-1 {
  font-size: 3vh;
}

.banner-head-2 {
  font-size: 2vh;
}

.banner-head-btn {
  font-size: 2vh;
}
/*# sourceMappingURL=main.css.map */