body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

button {
  outline: none;
}

input {
  outline: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

p {
  margin: 0;
}

.nav-area .nav-item {
  font-size: 12px;
  color: #2A2929;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 1800px) {
  .nav-area .nav-item {
    font-size: 15px;
  }
}

.play-podcast {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}

.banner-head-1 {
  font-size: 40px;
  letter-spacing: .05em;
  font-weight: bolder;
  color: white;
}

@media (max-width: 1200px) {
  .banner-head-1 {
    font-size: 32px;
  }
}

@media (max-width: 900px) {
  .banner-head-1 {
    font-size: 28px;
  }
}

.banner-head-2 {
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin-top: 5%;
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .banner-head-2 {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 900px) {
  .banner-head-2 {
    font-size: 12px;
  }
}

.button-default {
  font-size: 14px;
  padding: 14px 30px;
  color: #035B96;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #035B96;
}

.button-default:link {
  text-decoration: none;
}

.button-default:visited {
  text-decoration: none;
}

@media (max-width: 900px) {
  .button-default {
    font-size: 12px;
  }
}

.button-default .fa {
  margin-left: 5px;
}

h1 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 40px 0;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 24px;
  }
}

.container {
  margin: auto;
  min-width: 350px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logo" "nav" "playpod" "tban" "title" "svcs";
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 40px 50px auto;
      grid-template-rows: 40px 50px auto;
}

@media (max-width: 1800px) {
  .container {
    margin: auto;
    display: -ms-grid;
    display: grid;
    max-width: 1366px;
        grid-template-areas: "logo    nav     nav     nav" "playpod playpod playpod playpod" "tban    tban    tban    tban" "title   title   title   title" "svcs    svcs    svcs    svcs";
    -ms-grid-columns: auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto;
    -ms-grid-rows: 60px auto auto;
        grid-template-rows: 60px auto auto;
  }
}

.logo-area {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 25px;
}

.logo {
  width: 175px;
  height: auto;
}

@media (max-width: 1800px) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.nav-area {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-auto-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
  grid-auto-rows: auto;
  background-color: wite;
  white-space: nowrap;
}

@media (max-width: 1800px) {
  .nav-area {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-right: 25px;
  }
}

.nav-area .nav-item:hover {
  color: #035B96;
  border-top: 1px solid #035B96;
}

.nav-area .nav-item:active {
  color: #035B96;
  border-top: 3px solid #035B96;
}

.social_btn {
  color: #6497b1;
  font-size: 20px !important;
}

.menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.playpod-area {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: playpod;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #2d5b79;
  height: 24px;
}

.btn-play-small {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 16px;
}

.btn-play-small:after {
  border-color: transparent;
  border-style: solid;
  border-width: 4px;
  border-left-color: #2d5b79;
  border-left-width: 8px;
  border-right-width: 0;
  content: '';
  height: 0;
  margin-left: 2px;
  width: 0;
}

.top-banner-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: tban;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.top-banner-area .banner-image-div {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.top-banner-area .banner-overlay-div {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.top-banner-area .banner-text-div {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.banner-image {
  min-width: 350px;
  max-width: 100%;
  height: auto;
  display: block;
}

.banner-overlay-div {
  max-width: 100%;
  background: black;
  background: linear-gradient(60deg, rgba(0, 0, 0, 0.777749) 30%, rgba(255, 255, 255, 0) 100%);
}

.banner-text-div {
  margin-left: 10%;
  margin-top: 7%;
  width: 30%;
}

@media (max-width: 1200px) {
  .banner-text-div {
    width: 45%;
  }
}

@media (max-width: 900px) {
  .banner-text-div {
    width: 60%;
  }
}

.banner-head-btn-div {
  margin-top: 2.5%;
}

.title-area {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: title;
  margin-top: 20px;
  margin-bottom: 20px;
}

.services-area {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: svcs;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

@media (max-width: 768px) {
  .services-area {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: svcs;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .services-area .service2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    grid-area: 3 / 1 / span 1;
  }
}

.services-text {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-image {
  max-width: 100%;
  height: auto;
}

.item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: myArea;
}

.item4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / span 1 / span 2;
}

.grid-container-new {
  max-width: 1366px;
  min-width: 350px;
  margin: auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'myArea myArea';
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.grid-container-new .book_img {
  width: 45%;
  margin-top: 20px;
}

.grid-container-new .blue_img {
  width: 100%;
}

.grid-container-new .item1 {
  background-image: url(../../images/banners/banner-newsletter.png);
}

.grid-container-new .item4 {
  background-image: url(../../images/banners/banner-podcast.png);
}

.grid-container-new > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.input_area {
  width: 60%;
  margin: 12% auto;
  text-align: left;
}

@media (max-width: 1200px) {
  .input_area {
    width: 70%;
  }
}

.input_area .input_text h2 {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .input_area .input_text h2 {
    font-size: 22px;
  }
}

.input_area .input_text p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .input_area .input_text p {
    font-size: 14px;
  }
}

.input_area input {
  width: 90%;
  height: 40px;
  border: 1px solid #979797;
  margin-top: 20px;
  padding-left: 4%;
}

.input_area .download {
  width: 94%;
  padding: 15px 0;
  margin-top: 30px;
  background-color: #035b96;
  border: transparent;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}

.newsletter_container {
  padding: 130px 0;
  width: 70%;
  margin: auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'newsArea newsArea newsArea ';
  -ms-grid-columns: 40% 40% 20%;
      grid-template-columns: 40% 40% 20%;
}

@media (max-width: 1200px) {
  .newsletter_container {
    width: 80%;
  }
}

.newsletter_container .new_item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: newsArea;
}

.newsletter_container ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.newsletter_container :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.newsletter_container ::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.newsletter_container ::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.news_input {
  height: 50px;
  border: transparent;
  width: 90%;
  padding-left: 10px;
  background-color: rgba(139, 158, 178, 0.5);
}

@media (max-width: 1200px) {
  .news_input {
    height: 45px;
  }
}

.sign_up {
  width: 88%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #035b96;
  border: transparent;
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .sign_up {
    height: 45px;
  }
}

.sign_up i {
  margin-left: 10px;
}

.background_styles {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

._title {
  color: #ffffff;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 0;
}

.small_text {
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  margin: 0 0 50px  0;
}

.podcast_section {
  width: 63%;
  margin: auto;
  text-align: center;
  padding: 100px 0;
}

.services_section_text {
  width: 55%;
  margin: auto;
}

@media (max-width: 1200px) {
  .services_section_text {
    width: 75%;
  }
}

.services_section_text h3 {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .services_section_text h3 {
    font-size: 22px;
  }
}

.services_section_text p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  margin-bottom: 45px;
}

@media (max-width: 1200px) {
  .services_section_text p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 23px;
  }
}

.get_started {
  width: 180px;
  padding: 15px 0;
  border: 1px solid #035b96;
  background-color: #ffffff;
  color: #035b96;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .get_started {
    font-size: 12px;
    width: 160px;
    padding: 10px 0;
  }
}

.get_started .fa {
  margin-left: 10px;
}

.item5 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4 / 1 / span 1 / span 2;
  width: 93%;
  margin: auto;
}

.item5 h3 {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 0;
}

.item6 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 5 / 1 /span 1 / span 2;
}

.item7 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 6 / 1 /span 1 / span 2;
}

.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d4d4d4 !important;
  margin: 0 5px;
}

.owl-dot:hover {
  background-color: #035b96 !important;
}

.customer_logo {
  width: 130px !important;
}

.owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.owl-nav .owl-prev ::before {
  content: "\f178";
  font-family: FontAwesome;
  color: #d4d4d4;
  font-size: 18px;
  position: absolute;
  right: 10%;
  bottom: 10px;
}

.owl-nav .owl-next ::before {
  content: "\f177";
  font-family: FontAwesome;
  color: #d4d4d4;
  font-size: 18px;
  position: absolute;
  right: 12%;
  bottom: 10px;
  margin: 0 15px;
}

span {
  color: white;
}

span:hover:before {
  color: #035b96 !important;
}

.owl-carousel {
  margin: 15px;
}

.footer_section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

.footer_section .footer_logo {
  width: 200px;
  margin-bottom: 15px;
}

.footer_section .footer_title {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-bottom: 30px;
}

.footer_section ul {
  text-align: left;
}

.footer_section p {
  text-align: left;
  font-size: 16px;
  margin-bottom: 10px;
  color: gray;
}

.footer_section .twitter {
  margin: 0 15px;
}

.footer_link {
  font-size: 20px;
  color: gray;
  text-decoration: none;
}

.logo_section > div {
  width: 70%;
  margin: auto;
  text-align: left;
}

.logo_section .social_btn {
  font-size: 24px !important;
}

.copyright {
  font-size: 14px;
  color: #c3c3c3;
  margin: 50px 0;
}
/*# sourceMappingURL=main.css.map */