// Blog section styles
.blog-text-div {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.blog_home {
    margin-top: 10px;

 // blog section icon  

// links in blog section 
a {
    color: #ffffff !important;
    text-decoration: none !important; 
}
a:active {
    color: #74736e !important;
}

 }

 .posts_area {
    grid-area: mainArea  ;
  }
 
 // event food grid area in blog section
 .event_feed{
    grid-area: 5 / 1 / span 1 / span 2;
   }
  
  .post_newsletter_section{
   grid-area: 7 / 1 / span 1 / span 2;
  }
  .post_footer_section{
   grid-area: 8 / 1 / span 1 / span 2
  }

  .blog_home {
    span {
        font-size: 13px;
        color: $debugPostText;
    }
  }
  .event_pocket_guide_section {
    grid-area: 6 / 1 / span 1 / span 2;
    display: grid;
    grid-template-areas: 'mainArea mainArea';
    @include for-size(tablet-only){
        display: unset;
        }
}
 
  
  