// Events Feed section

//Events section grid area
.events_feed_title_area  {
  grid-area: 4 / 1 / span 1 / span 2;
}

.event_feed{
    grid-area: 5/ 1 / span 1 / span 2;
    display: grid;
    grid-template-areas: 'mainArea mainArea mainArea';
    grid-template-columns: 33.3% 33.3% 33.3%;
    width: 90%;
    margin: auto;
    @include for-size(desktop-up){
        width: 95%;
      }
      @include for-size(phone-only){
        grid-template-areas: 'myArea';
        grid-template-columns: 100%;
      }
   }
   .event_section_content {
       text-align: left;
       padding: 0 30px;
       @include for-size(desktop-up){
        padding: 0 15px;
      }
      @include for-size(tablet-only){
       text-align: center;
      }

   }
   .event_borders {
       border-right: 1px solid $debugEventBorder;
       border-left: 1px solid $debugEventBorder;
       @include for-size(phone-only){
       border: transparent;
      }
   }