// Layouts for the grids (mobile and large screen)

// Assumes default to a mobile view
.container {
    margin: auto;
    min-width: 350px;
    display: grid;
        grid-template-areas:
        "logo"
        "nav"
        "tban"
        "title"
        "svcs";
        // "tban   tban   tban   tban   tban   tban"
        // "left   title  title  title  title  right"
        // "left   svcs   svcs   svcs   svcs   right"
        // "pod    pod    pod    pod    pod    pod"
        // "left   dl     dl     dl     dl     right"
        // "left   sub    sub    sub    sub    right"
        // "signup signup signup signup signup signup"
        // "left   footer footer footer footer right";
    grid-template-columns:
        auto;
    grid-template-rows: 
        40px 50px auto;
} // end default container


// Grid any size larger than the mobile version.
@include for-size(full-size) {
.container {
    margin: auto;
    display: grid;
    max-width: 1366px;
        grid-template-areas:
        "logo  nav   nav   nav"
        "tban  tban  tban  tban"
        "title title title title"
        "svcs  svcs  svcs  svcs";
        // "left   svcs   svcs   svcs   svcs   right"
        // "pod    pod    pod    pod    pod    pod"
        // "left   dl     dl     dl     dl     right"
        // "left   sub    sub    sub    sub    right"
        // "signup signup signup signup signup signup"
        // "left   footer footer footer footer right";
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 60px auto auto;
    } // end full-size container
}


