// Layout for the logo area

.logo-area {
    grid-area: logo;
    display: grid;
    justify-content: start;
    align-content: center;
    margin-left: $gridMarginLeft;

    @if $debug { background-color: $debugLogoArea; }
}

.logo{
    width: 175px;
    height: auto;
}

@include for-size(full-size) {
    justify-content: end;
}