// Layout for the logo area

.logo_area {
    grid-area: logo;
    display: grid;
    justify-content: start;
    align-content: center;
    margin-left: $gridMarginLeft;
    @include for-size(phone-only){
       display: none;
       }

    @if $debug { background-color: $debugLogoArea; }
}

.logo{
    width: 175px;
    height: auto;
    @include for-size(desktop-up){
        width: 155px;
       }
       @include for-size(tablet-only){
        width: 115px;
       }
       @include for-size(phone-only){
        width: 140px;
       }
}

@include for-size(full-size) {
    justify-content: end;
}