// Layout for the logo area

.logo-area {
    grid-area: logo;
    display: grid;
    justify-content: start;
    align-content: center;

    .logo{
        width: 100%;
        height: auto;
    }
    
    @if $debug { background-color: $debugLogoArea; }
}

@include for-size(full-size) {
    justify-content: end;
    
}