// Pocket Guide section

//input section
.input_area {
    width: 60%;
    margin: 12% auto;
    text-align: left;
   
    @include for-size(desktop-up){
      width: 85%;
      margin-bottom: 5%;
     }
    
     @include for-size(phone-only){
      width: 87%;
      margin: 5%;
      
     }

     //input styles in pocket guide section 
       input {
          width: 100%;
          height: 50px;
          border: 1px solid $debugInputBorder;
          margin-top: 20px;
          padding-left: 4%;
          @include for-size(phone-only){
            height: 40px;
           }
          }
          .input_text {
            h2 {
               font-size: 28px;
                margin-bottom: 20px;
                 @include for-size(desktop-up){
                 font-size: 22px;
                }
               }
           p {
               font-size: 18px;
               line-height: 24px;
               @include for-size(desktop-up){
                 font-size:  14px;
                }
             }
          }

      //download button styles in pocket guide section 
      .download {
        width: 100%;
        padding: 16.5px 0;
        margin-top: 30px;
        background-color: $debugblueBtn; 
        border: transparent;
        color: #ffffff;
        font-weight: 600;
        font-size: 12px;
        @include for-size(phone-only){
         padding: 11.5px 0;
          }
         }
       }
       // Book image styles in pocket guide section 
     .book_img_section {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .book_img {
        width: 45%;
        margin-top: 20px;
        @include for-size(tablet-only){
          width: 25%;
          margin-top: 0;
         }
        @include for-size(phone-only){
          width: 35%;
         }
        }
      