// Podcast section


//podcast grid area
.podcast_container{
    grid-area: 2 / 1 / span 1 / span 2;
    grid-template-columns: 40% 60%;
    width: 67%;
    margin: auto;
    @include for-size(desktop-up){
        width: 95%;
        grid-template-columns: 60% 40%;
      }
   }

// view more button grid area
   .view_more_section {
    grid-area: 3 / 1 / span 1 / span 2;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.listen_podcast {
    grid-area: mainArea mainArea;
    grid-area: 2 / 1 / span 1 / span 2;
  }
  
  .podcast_content {
    display: grid;
    grid-template-areas: 'mainArea';
    @include for-size(tablet-landscape-up){
     display: unset;
     }
   
  }
  // podcast section text style
  .podcast_section_text {
      text-align: left;
      padding-left: 50px;
      display: flex;
      align-items: center;
      width: 90%;
      margin-left: auto;
      @include for-size(tablet-landscape-up){
       width: 100%;
       padding-left: 0;
       text-align: center;
      }
      img {
        @include for-size(tablet-landscape-up){
         margin-right: 15px;
         }

      }
  }
  // podcast logos styles
  .podcast_logo {
    width: 38px;
    margin: 30px 30px 0 0;
  }
  .spotify_logo {
    width: 135px;
    margin: 30px 30px 0 0;
  }
  .soundcloud_logo {
    width: 70px;
    margin: 30px 30px 0 0;
  }
  .photo_arae {
    box-shadow: 1px 1px 13px 9px #eee9e9;
    @include for-size(tablet-landscape-up){
     width: 320px;
     margin: auto;
     margin-top: 30px;
      }
  }
  code {
    color: red;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
  }
  .listen_podcast_titel {
    margin: 45px 0 !important;
  }

  