// posts section styles

.posted_articals_section{
    grid-area: 2 / 1 / span 1 / span 2;
    width: 90%;
    margin: auto;
    @include for-size(desktop-up){
        width: 95%;
      }
   }

.posts_area {
  display: grid;
  grid-template-areas: 'mainArea mainArea mainArea';
  grid-template-columns: 40% 40% 20%;
  width: 70%;
  margin: auto;
  text-align: center;
  @include for-size(desktop-up){
    width: 85%;
  }
  @include for-size(tablet-landscape-up){
    width: 95%;
  }
  @include for-size(phone-only){
    display: unset;
  }
  .general_btn {
      width: 90%;
      @include for-size(tablet-landscape-up){
        height: 40px;
    }

  }
}
.important_posts_text {
    grid-area: mainArea;
}
// input styles in post section
.signup_newsletter_input {
    height: 50px;
    width: 95%;
    background-color: $debugPostInputBckg;
    border: 1px solid transparent;
    padding-left: 20px;
    @include for-size(tablet-landscape-up){
        height: 40px;
        padding-left: 10px;
    }
    @include for-size(phone-only){
       margin-bottom: 15px;
       width: 90%;
      }

}
.posts_container {
    display: grid;
    grid-template-areas: 'mainArea mainArea  mainArea';
    grid-template-columns: 33.3% 33.3% 33.3%;
    text-align: left;
    @include for-size(phone-only){
        grid-template-areas: 'mainArea';
        grid-template-columns: 100%;
       }
}
.articl_img {
  img {
      width: 100%;
      height: auto;
  }

}
.published_articles {
    width: 93%;
    margin: auto;
    padding-top: 30px;
}
.read_more {
    color: $debugblueBtn;
    font-size: 14px;
    text-transform: uppercase;
    @include for-size(tablet-landscape-up){
        font-size: 12px;
    }
  }