// Styles for the top banner

// to test: https://bryanlrobinson.com/blog/how-to-use-css-grid-to-mix-and-match-design-patterns/


.top-banner-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.banner-placeholder { grid-area: 1 / 1 / 2 / 2; }
.banner-overlay { grid-area: 1 / 1 / 2 / 2; }

.banner-image {
    max-width: 100%;
    height: auto;
    display: block;
}
