// Styles for the top banner

// to test: https://bryanlrobinson.com/blog/how-to-use-css-grid-to-mix-and-match-design-patterns/




// layout - works but z-index ignores the grid
.top-banner-area
{
    grid-area: tban;
    display: grid;
    align-content: center;
    justify-content: center;
}

.banner-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.banner-overlay {
    margin-left: $leftAreaWidth;
    position: absolute;
    max-width: 100%;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: 0;
}