//testimonials section


.testimonials_section {
    grid-area: mainArea;
   
  }
  .testimonials_customer_slider {
    margin-bottom: 40px;
  }
  // testimonials second slider styles
  .testimonials_slider_item {
    display: grid;
    grid-template-areas: 'mainArea mainArea';
    text-align: left;
    height: auto;
    width: 400px;
   
 

  }
  .testimonials_slider  {
    margin-top: 45px;
  }

  .slider_img {
    grid-area: mainArea;
    grid-area: 1 / 1 / span 5 / span 2;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto 20px auto 0;
  }
  .slider_img1 {
    background-image: url(../../images/home/testimonials_slider.jpg);
  }
  .slider_img2 {
    background-image: url(../../images/home/testimonials_slider2.jpg);
  }
  .slider_img3 {
    background-image: url(../../images/home/testimonials_img3.jpg);
  }
  .person_name {
    grid-area: 1 / 3 / span 2 / span 1;
    font-size: 20px;
  }
  .feedback_text {
    grid-area: mainArea;
    grid-area: 3 / 3 / span 3 / span 1;
  
  }
 
   .testimonials_slider .active.center {
    transform: scale(1) !important;
    -webkit-filter: grayscale(0) !important; /* Safari 6.0 - 9.0 */
      filter: grayscale(0) !important;
      .testimonials_slider_item {
        height: auto;
        text-align: center;
        justify-content: center;
        .slider_img {
          grid-area: 2 / 1 / span 2 / span 1;
          margin: 20px auto;
          width: 100px;
          height: 100px;
          box-shadow: 1px 1px 46px 25px #eee9e9;
       }
        .person_name {
          grid-area: 4 / 1 / span 3 / span 1;
        }
        .feedback_text {
          grid-area: 1 / 1 / span 1 / span 1;
          padding: 0 20px;
        
        }

      }
  }
  .testimonials_slider .active {
    transform: scale(.9) !important;
    transition: .6s ease !important;
    height: 100%;
    
   }
  .testimonial_newsletter_section {
    grid-area: 7 / 1 / span 1 / span 2;
   }
   .testimonial_footer {
    grid-area: 8 / 1 / span 1 / span 2;
   }
   .testimonial_copyright {
    grid-area: 9 / 1 / span 1 / span 2;
   }