// layout for the title area

.title_area {
    grid-area: title;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 53%;
    text-align: center;
    margin: auto;
    @include for-size(desktop-up) {
        width: 80%;
      }
   
    @if $debug { background-color: $debugTitleArea; }
    p {
        width: 70%;
        margin: auto;
        font-size: 16px;
        color: #808080;
        @include for-size(tablet-only) {
            width: 100%;
          }

        
    }
}
