// typography for the website

// body
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
button {
    outline: none;
}
input {
    outline: none;
}
h4 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
p {
    margin: 0;
}

// navigation
.nav-area .nav-item {
    font-size: 12px;
    color: $navDefaultColor;
    text-decoration: none;
    text-transform: uppercase;
    @include for-size(full-size)
    {
        font-size: 16px;
    }
}

// play podcast text
.play-podcast {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}


// top banner image (text)
.banner-head-1 {
    font-size: 2vh;
    letter-spacing: .05em;
    font-weight: bolder;
    color: $bannerHead1Color;
}

.banner-head-2 {
    font-size: 1.6vh;
    color: $bannerHead1Color;
	margin-top: $bannerHead2MarginTop;
}

// Get started button
.button-default {
    font-size: 1.2vh;
    color: $btnDefaultColor;
    background-color: $btnDefaultBgColor;
    padding: $btnDefaultPadding;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid $btnDefaultBorderColor;

    &:link { text-decoration: none; }
    &:visited { text-decoration: none;}
}

h1 {
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
    text-transform: uppercase;
}